{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

{% block title %} Вход {% endblock %}

{% block content %}
  <main class="logout">
    <h2>Вход</h2>
    {% if user.is_authenticated %}
      <p>Вы уже выполнили вход.</p>
    {% else %}
      <form method="post" action="{% url 'catalog:login' %}">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <input type="hidden" name="next" value="{{ next }}">
        <input type="submit" value="Войти">
      </form>
    {% endif %}
  </main>
{% endblock %}